---
Title: Home Page
---
@using Statiq.Common
@using System.Globalization

@{
    Layout = "_layout";

    // I post Markdown finiscono nella pipeline "Content"
    var posts = Context.Outputs
        .FromPipeline("Content")
        .Where(p =>
            p.Source.Extension == ".md" &&
            p.ContainsKey("Date"))
        .OrderByDescending(p => p.GetDateTime("Date"))
        .Select(p => new
        {
            Titolo = p.GetString("Title") ?? p.Source.FileNameWithoutExtension.FullPath,
            Progetto = p.GetString("Project") ?? "-",
            Tema = p.GetString("Theme") ?? "GENERICO",
            DataLeggibile = p.GetDateTime("Date")
                .ToString("d", CultureInfo.GetCultureInfo("it-IT")),
            Link = p.GetLink()
        })
        .ToList();
}

<h1>Benvenuti nel mio "Digital Garden"</h1>

<p>
    Questo blog documenta il mio percorso tecnico tra sviluppo software,
    elettronica, fai-da-te e sperimentazione.
</p>

<hr />

<h2>Ultimi aggiornamenti</h2>

@if (posts.Any())
{
    <ul class="post-list">
        @foreach (var post in posts)
        {
            <li class="post-item">
                <span class="post-theme">
                    @post.Tema
                </span>

                <a class="post-title" href="@post.Link">
                    @post.Titolo
                </a>

                <small class="post-meta">
                    Progetto: <strong>@post.Progetto</strong> |
                    Data: @post.DataLeggibile
                </small>
            </li>
        }
    </ul>
}
else
{
    <p class="post-empty">Nessun post trovato.</p>
}

